


<div class="row bg-danger">
    <h2 class="text-center">
        This category is already Inserted!!
    </h2>
    
    <a asp-action="Create" asp-controller="Category" class="btn btn-primary">Back To Insert New</a>

</div>
@section Scripts{

    <a href="~/lib/bootstrap/dist/css/bootstrap.css.map">~/lib/bootstrap/dist/css/bootstrap.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />





}