@model Work01.Models.User
@{
    ViewData["Title"] = "Delete";
}


<div class="row">
    <div class="col-6 ">
        <h2>For Delete Daily Expenses</h2>
        <form asp-action="Delete">
            <input asp-for="Id" type="hidden" />


            <div class="">
                <label asp-for="CategoryId" class="form-control-sm col-2">Categories</label>
                <input asp-for="CategoryId" type="text" class="form-control-sm col-sm-4" placeholder="Expense Date" />

            </div>
            <div class="">
                <label asp-for="ExpenseDate" class="form-control-sm col-2">Expense Date</label>
                <input asp-for="ExpenseDate" type="date" class="form-control-sm col-sm-4" placeholder="Expense Date" />

            </div>
            <div class="">
                <label asp-for="Amount" class="form-control-sm col-2">Amount</label>
                <input asp-for="Amount" type="text" class="form-control-sm col-sm-4" placeholder="Expense Amount" />


            </div>
            <div class="offset-2">
                <button asp-action="Delete" asp-controller="Tracker" class="btn btn-sm btn-danger" type="submit">Delete</button>

            </div>
        </form>
       


    </div>
   

</div>

