@model Work01.Models.User
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="row ">
    <div class="col">
        <h1 class="bg-info text-center">Edit Daily Expenses Here!!</h1>
        <form style="border: groove 5px;" class="mb-5 mt-5" asp-action="Edit">
            <input asp-for="Id" type="hidden" />
            <div class="">
                <label asp-for="CategoryId" class="form-control-sm col-2">Categories</label>
                <select type="text" class="col-form-label-sm col-sm-4" asp-for="CategoryId" asp-items="@(new SelectList(@ViewBag.categories,"CategoryId","Categories"))">
                    <option value="0" selected="selected"> --Select--</option>
                </select>
                <div class="col-4">
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

            </div>
            <div class="">
                <label asp-for="ExpenseDate" class="form-control-sm col-2">Expense Date</label>
                <input asp-for="ExpenseDate" type="date" class="form-control-sm col-sm-4" placeholder="Expense Date" />
                <div class="col-4">
                    <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                </div>

            </div>
            <div class="">
                <label asp-for="Amount" class="form-control-sm col-2">Amount</label>
                <input asp-for="Amount" type="text" class="form-control-sm col-sm-4" placeholder="Expense Amount" />
                <div class="col-4">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

            </div>
            <div class="col offset-2 mb-5">
                <button  type="submit" class="btn btn-sm btn-primary ">Save</button>

            </div>
        </form>

    </div>

</div>

